body {
    font-family: "Lato", sans-serif;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 50px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
.navbar-default .navbar-nav > li > a, a.navbar-brand {
    color: white!important;
}

.navbar-default .navbar-nav > li > a:hover, a.navbar-brand:hover {
    color: #ffff00 !important;
}

.navbar{
    border: 0px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#7a1d91+0,204bad+100 */
    background: #7a1d91; /* Old browsers */
    background: -moz-linear-gradient(-45deg, #7a1d91 0%, #204bad 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, #7a1d91 0%,#204bad 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, #7a1d91 0%,#204bad 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7a1d91', endColorstr='#204bad',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    color: white;!important;
}



footer{
    margin: auto;
    position: fixed;
    height: 50px;
    bottom: 0;
    left: 0;
    width: 100%;
    background: #7a1d91; /* Old browsers */
    background: -moz-linear-gradient(-45deg, #7a1d91 0%, #204bad 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, #7a1d91 0%,#204bad 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, #7a1d91 0%,#204bad 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7a1d91', endColorstr='#204bad',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    color: white;!important;
}

footer > p{
    width: 70%;
    margin: auto;
    padding: 10px;
}